#icons {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.icon-container {
  margin-bottom: 20px;
  width: 220px;

  i {
    font-size: 2em;
    margin-right: 5px;
  }

  .name {
    font-size: 0.8em;
  }
}